---		 
layout: itemdetails
printtitleanddate: true
---
	
	 <article >
	<a href=# id="top"></a>
        {{ content }}
	$$~$$
	<div class="post-nav">
	<p>
	  {% if page.previous.url %}
	  <a href="{{ page.previous.url | prepend: site.baseurl }}">☜&nbsp;{{page.previous.title}}</a>
	  {% endif %}
	</p>
	<p> 
	 <!-- a href="#top"><div class=rotateunicode>☞</div></a -->
	 <a href="#top">&uarr;</a>
	</p>
	<p> 
	  {% if page.next.url %}
	  <a href="{{ page.next.url | prepend: site.baseurl }}">{{page.next.title}}&nbsp;☞</a>
	  {% endif %}
	</p>
	</div>
	</article>
	
